body,html{
    width: 100%;
    height: 100%;
}

.header {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.vertical-center h1{
    font-size: 3em;
    font-weight: 500;
}


/* top na bar */
.topnav {
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    z-index: 1;
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 13px;
}
#home{
    background-color: rgba(53, 53, 53, 0.705);
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgba(0, 0, 0, 1);
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.bg-img {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    /* background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat; */
    background-size: cover;
    transition: 1s opacity;
}

/* video */
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

/* form */
input[type=text] {
    text-align: center;
    color: white;
    width: 20%;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 100%;
    background-color: transparent;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 5px 20px 5px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 30%;
    background-color: rgba(0, 0, 0, 0.7);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;

}
::-webkit-input-placeholder :focus{ /* Chrome/Opera/Safari */
    color: black;
}


/* footer */
.custom-j div{
    color: rgb(255, 255, 255);
}

.cus-row{
    padding: 5px;
}

.custom-j{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.5);

}

/* Ours page */
.vertical-center-left {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}
.vertical-center-left h1{
    font-size: 5rem;
}

.propic-row{
    background-color: rgba(48, 48, 48, 0.61);
    width: 100%;
    display: Flex;
    align-items: center;
    justify-content: center;

}
.propic-row img{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.propic-row p{
    font-size: 1rem;
}

#top-ab{
    background: linear-gradient( rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.781) ),  url(http://altinyapim.com/images/Upload/939a7bf9f9074ac496dd9456b9224c85.jpg);
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
}

#tool-ab{
    background: linear-gradient(rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.781)), url(http://www.markstudioindia.com/adminpanel/upload/3511404972video-editing-studio.jpg);
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
}
.hero, .content{
    text-align:center; 
    position:relative;
    width: 100%;
  }